services:
  checkmk:
    # feature equivalent to enterprise edition but just 30 days trial
    # nice to check extension GUI stuff
    image: checkmk-yum
    build:
      context: .
      dockerfile: dockerfiles/checkmk/Dockerfile
      args:
        CHECKMK_VERSION: 2.4.0p19
        CMK_PASSWORD: cmkadmin
        CMK_SITE_ID: cmk
    restart: unless-stopped
    ports:
      - 5000:5000
    environment:
      TZ: Europe/Berlin
    volumes:
      # meta-info about package for Checkmk extensions management
      - ${PWD}/mkp/var/check_mk/packages/yum:/omd/sites/cmk/var/check_mk/packages/yum
      # agent plugin to run on monitored hosts
      - ${PWD}/mkp/local/share/check_mk/agents/plugins/yum:/omd/sites/cmk/local/share/check_mk/agents/plugins/yum
      # bakery - not fully upgraded to the new layout in Checkmk 2.4 itself
      - ${PWD}/mkp/local/lib/python3/cmk/base/cee/plugins/bakery/yum.py:/omd/sites/cmk/local/lib/python3/cmk/base/cee/plugins/bakery/yum.py
      # already updated part of plugin
      - ${PWD}/mkp/local/lib/python3/cmk_addons/plugins/yum:/omd/sites/cmk/local/lib/python3/cmk_addons/plugins/yum

  client-rocky-8:
    # client for testing, can be added in web GUI
    image: checkmk-client-rocky-8
    build:
      context: dockerfiles/client
      dockerfile: Dockerfile_rocky-8
    restart: unless-stopped
    environment:
      # check_mk_agent needs to know where to store its state
      MK_VARDIR: /var/lib/check_mk_agent
    post_start:
      # check_mk_agent requires executable plugins
      - command: /usr/bin/chmod -R +x /usr/lib/check_mk_agent/plugins
    volumes:
      - ${PWD}/mkp/local/share/check_mk/agents/plugins:/usr/lib/check_mk_agent/plugins

  client-fedora-43:
    # client for testing, can be added in web GUI
    image: checkmk-client-fedora-43
    build:
      context: dockerfiles/client
      dockerfile: Dockerfile_fedora-43
    restart: unless-stopped
    environment:
      # check_mk_agent needs to know where to store its state
      MK_VARDIR: /var/lib/check_mk_agent
    post_start:
      # check_mk_agent requires executable plugins
      - command: /usr/bin/chmod -R +x /usr/lib/check_mk_agent/plugins
    volumes:
      - ${PWD}/mkp/local/share/check_mk/agents/plugins:/usr/lib/check_mk_agent/plugins
