name: build-release-stable
on:
  push:
    tags: 'v*'

jobs:
  build-image:
    runs-on: ubuntu-latest
    outputs:
      image: ${{ steps.get_image.outputs.IMAGE }}
    steps:
      - uses: actions/checkout@v4
      # docker login is needed for pushing the test image
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - id: get_hash
        run: echo "HASH=$(find mkp -type f -printf '%p:%s' | xargs | md5sum | cut -d\  -f1)" >> $GITHUB_OUTPUT
      - id: get_image
        run: echo "IMAGE=$(echo ghcr.io/${{ github.repository }} | tr '[:upper:]' '[:lower:]'):${{ steps.get_hash.outputs.HASH }}" >> $GITHUB_OUTPUT
      - run: echo "image ${{ steps.get_image.outputs.IMAGE }}"
      # build container image for package creation
      - run: docker pull ${{ steps.get_image.outputs.IMAGE }} || docker build -t ${{ steps.get_image.outputs.IMAGE }} -f dockerfiles/checkmk/Dockerfile .
      - run: docker push ${{ steps.get_image.outputs.IMAGE }}

  build-package:
    runs-on: ubuntu-latest
    needs: build-image
    container:
      image: ${{ needs.build-image.outputs.image }}
    steps:
      - uses: actions/checkout@v4
      # use script
      - run: build-mkp.sh
      # upload results
      - uses: actions/upload-artifact@v4
        with:
          path: ./mkp/*.mkp
          retention-days: 1

  github-release:
    runs-on: ubuntu-latest
    needs: build-package
    steps:
      - uses: actions/download-artifact@v4
      - run: cd artifact && md5sum *.mkp > md5sums.txt
      - run: cd artifact && sha256sum *.mkp > sha256sums.txt
      - uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          draft: true
          files: |
            artifact/*